*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.border{
  border: 2px red solid;
}

img{
  max-height: 80%;
}

.App{
  display: flex;
  flex-direction: row;
}

.left, .right{
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  position: absolute;
  width: 40%;
  height: 50%;
}

#viewText{
  text-align: center;
  font-weight: bold;
  color:rgb(48, 121, 95) ;
}